body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #333;
}
.titre {
  max-width: 1100px;
  margin: 0 auto;
}
header {
  background: white;
  padding: 20px;
}
header h1 {
  text-align: center;
}
.hero {
  background: #fff;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  margin: 20px auto;
}
.grid-tests {
  display: grid;
  gap: 20px;
  margin-top: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  transition: 0.2s;
}
.card:hover {
  transform: translateY(-3px); /* Fait "monter" légèrement la carte */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre subtile */
}
.how {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin: 40px auto;
}
.infos {
  background: #fff3cd;
  padding: 15px;
  border-left: 4px solid #ffca2c; /* Bande verticale jaune */
  border-radius: 6px;
  margin: 30px auto;
}

section {
  max-width: 1100px;
}

.card-tests {
  margin: 0 auto;
}
